absl-py==0.8.1
alembic==1.3.1
apache-airflow==1.10.6
apispec==3.1.0
APScheduler==3.6.0
argcomplete==1.10.3
attrs==19.3.0
Babel==2.7.0
bleach==1.5.0
cached-property==1.5.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorama==0.4.1
colorlog==4.0.2
#command-not-found==0.3
configparser==3.5.3
croniter==0.3.30
cryptography==2.8
cycler==0.10.0
Cython==0.29
defusedxml==0.6.0
dill==0.2.9
docopt==0.6.2
docutils==0.15.2
Flask==1.1.1
Flask-Admin==1.5.3
Flask-AppBuilder==1.13.1
Flask-Babel==0.12.2
Flask-Caching==1.3.3
Flask-Cors==3.0.8
Flask-JWT-Extended==3.24.1
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.4.1
flask-swagger==0.2.13
Flask-WTF==0.14.2
funcsigs==1.0.0
future==0.16.0
gitdb2==2.0.6
GitPython==3.0.5
graphviz==0.13.2
grpcio==1.25.0
gunicorn==19.10.0
hdfs==2.2.2
html5lib==0.9999999
idna==2.8
importlib-metadata==1.1.0
iso8601==0.1.12
itsdangerous==1.1.0
Jinja2==2.10.3
json-merge-patch==0.2
jsonschema==3.2.0
kiwisolver==1.1.0
#language-selector==0.1
lazy-object-proxy==1.4.3
lockfile==0.12.2
lxml==4.4.2
Mako==1.1.0
Markdown==2.6.11
MarkupSafe==1.1.1
marshmallow==2.19.5
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.18.0
matplotlib==3.0.3
mock==3.0.5
more-itertools==8.0.0
numpy==1.17.4
ordereddict==1.1
pandas==0.24.2
pendulum==1.4.4
pexpect==4.7.0
pika==1.1.0
prison==0.1.0
protobuf==3.11.0
psutil==5.6.7
psycopg2-binary==2.8.4
ptyprocess==0.6.0
py4j==0.10.7
pycparser==2.19
pycurl==7.43.0
Pygments==2.5.2
pygobject==3.30.0
PyJWT==1.7.1
PyMySQL==0.9.3
pypandoc==1.4
pyparsing==2.4.5
pyrsistent==0.15.6
#python-apt==1.1.0b1+ubuntu0.16.4.5
python-daemon==2.1.2
python-dateutil==2.8.0
python-debian==0.1.28
python-editor==1.0.4
python-systemd==0.0.9
python3-openid==3.1.0
pytz==2018.9
pytzdata==2019.1
PyYAML==5.1
requests==2.22.0
scikit-learn==0.20.3
scipy==1.2.1
setproctitle==1.1.10
six==1.12.0
sklearn==0.0
smmap2==2.0.5
some-package==0.1
SQLAlchemy==1.3.11
ssh-import-id==5.5
tabulate==0.8.3
tenacity==4.12.0
tensorboard==1.13.1
tensorflow==1.5.0
tensorflow-estimator==1.13.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
text-unidecode==1.2
thrift==0.11.0
tinydb==3.13.0
tornado==4.5.3
tzlocal==1.5.1
#ufw==0.35
#unattended-upgrades==0.1
unicodecsv==0.14.1
urllib3==1.25.3
Werkzeug==0.16.0
wrapt==1.11.1
WTForms==2.2.1
xgboost==0.82
zipp==0.6.0
zope.deprecation==4.4.0
pyspark==2.4.4
